/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2711";

    fragment@0 {
		target = <&spidev0>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@1 {
		target = <&spidev1>;
		__overlay__ {
			status = "disabled";
		};
	};

    fragment@2 {
        target = <&spi0>;
        __overlay__ {
            status = "okay";
            #address-cells = <1>;
			#size-cells = <0>;

            lsm6ds032: lsm6ds032@0 {
                compatible = "st,lsm6ds032";
                reg = <0>;	/* CE0 */
                #address-cells = <1>;
                #size-cells = <0>;
                spi-max-frequency = <10000000>;
            };

            as5048: as5048@1 {
                compatible = "ams,as5048";
                reg = <1>;	/* CE1 */
                #address-cells = <1>;
                #size-cells = <0>;
                spi-max-frequency = <10000>;
            };
        };
    };
};